// Variables

// Styles
body {
  font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  text-align: center;
}

.login-container {
  margin-top: 60px;
}
